# Python 기초

## 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3.7/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.7버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

## 식별자

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름이다. 

* 식별자의 이름은 영문알파벳, \_, 숫자로 구성된다.
* 첫 글자에 숫자가 올 수 없다. 
* 대소문자를 구별한다.
* 아래의 예약어는 사용할 수 없다. 

```
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [118]:
# 식별자들을 직접 확인해봅시다.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안된다.

In [3]:
# 5를 string으로 바꿔봅시다.
str(5)

'5'

In [4]:
# 예시로 str에 값을 할당해보고, 오류를 확인해봅시다.
str = 'hi'
str(5)

TypeError: 'str' object is not callable

In [5]:
# 뒤에 코드에 영향이 가니까 변수를 메모리에서 지워줍시다!!!!
del str

## 기초 문법

### 인코딩 선언

인코딩은 선언하지 않더라도 `UTF-8`로 기본 설정이 되어 있다. 

만약, 인코딩을 설정하려면 코드 상단에 아래와 같이 선언한다. 
주석으로 보이지만, Python `parser`에 의해 읽혀진다.

```python
# -*- coding: <encoding-name> -*- 
```

### 주석(Comment)

* 주석은 `#`으로 표현한다. 
* `docstring`은 `"""`으로 표현한다. 
   
   : 여러 줄의 주석을 작성할 수 있으며, 보통 함수/클래스 선언 다음에 해당하는 설명을 위해 활용한다.
   
  
* 예시 : flask 공식 문서 일부 발췌

![flask 공식문서 예시](./images/01/docstring.png)

In [ ]:
# 주석을 연습해봅시다.

In [6]:
#이 줄은 실행되지 않습니다. 이 줄을 실행시켜야 밑에서 mysum.__doc__을 볼 수 있어요.
def mysum(a, b):
    """이 함수는 덧셈 함수입니다.
    이 줄도 실행되지 않아요.
    다만, docstring인 이유가 있습니다.
    """
    print(a+b)

In [ ]:
# docstring은 다음과 같이 확인할 수 있습니다.

In [7]:
mysum.__doc__

'이 함수는 덧셈 함수입니다.\n    이 줄도 실행되지 않아요.\n    다만, docstring인 이유가 있습니다.\n    '

### 코드 라인
* 기본적으로 파이썬에서는 `;` 을 작성하지 않는다.

* 한 줄로 표기할 떄는 `;`를 작성하여 표기할 수 있다.

In [9]:
# print문을 두번 써보자.
print('hello')
print('hello')

hello
hello

In [10]:
# print문을 한줄로 이어서 써봅시다. 오류 메시지를 확인해주세요.
print('hello')print('hello')

SyntaxError: invalid syntax (<ipython-input-10-8342d46f5ca4>, line 2)

In [11]:
# ;을 통해 오류를 해결해봅시다.
print('hello');print('hello')

hello
hello

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [ ]:
# print문을 통해 안되는 코드 예시 작성해봅시다.

In [12]:
print('
      dd')

SyntaxError: EOL while scanning string literal (<ipython-input-12-5bc47ad00320>, line 1)

In [ ]:
# print문을 통해 되는 코드 예시 작성해봅시다.

In [13]:
print('\
dd')

dd

* `[]` `{}` `()`는 `\` 없이도 가능하다.

In [ ]:
# list를 두 줄에 걸쳐서 만들어봅시다.

In [14]:
lunch = [
    '짜장면', '짬뽕', '탕수육',
    '군만두', '물만두', '왕만두',
]

lunch = [
    '짜장면', '짬뽕', '탕수육',
    '군만두', '물만두', '왕만두',
    ]

lunch = [
    '짜장면', 
    '짬뽕', 
    '탕수육',
    '군만두',
    '물만두',
    '왕만두',]

# 변수(variable) 및 자료형


<center><img src="./images/01/variable.png", alt="variable"/></center>


<center><img src="./images/01/box.png", alt="box"/></center>

* 변수는 `=`을 통해 할당(assignment) 된다. 

* 해당 자료형을 확인하기 위해서는 `type()`을 활용한다.

* 해당 변수의 메모리 주소를 확인하기 위해서는 `id()`를 활용한다.

In [15]:
# 변수에 값을 할당해 봅시다.

In [16]:
x = 'ssafy'

In [ ]:
# type()을 사용해 봅시다.

In [17]:
type(x)

str

In [ ]:
# id()를 사용해 봅시다.

In [18]:
id(x)

2354489111728

* 같은 값을 동시에 할당할 수 있다.

In [ ]:
# 같은 값을 동시에 할당해봅시다.

In [19]:
x = y = 1004

In [20]:
print(x, y)

1004 1004

* 다른 값을 동시에 할당 가능하다.

In [ ]:
# 동시에 두개의 변수에 값 두개를 할당해봅시다.

In [21]:
x, y = 1, 2
print(x, y)

1 2

In [ ]:
# 변수의 갯수가 더 많을 때 오류를 알아봅시다.

In [22]:
x, y = 1

TypeError: cannot unpack non-iterable int object

In [ ]:
# 변수의 갯수가 더 적을 때 오류를 알아봅시다.

In [23]:
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능하다.

In [ ]:
# 변수 x와 y의 값을 바꿔봅시다.

In [24]:
x, y = y, x
print(x, y)

2 1

## 수치형(Numbers)

###  `int` (정수)

모든 정수는 `int`로 표현된다.

파이썬 3.x 버전에서는 `long` 타입은 없고 모두 `int` 형으로 표기 된다.

10진수가 아닌 8진수 : `0o`/2진수 : `0b` /16진수: `0x`로도 표현 가능하다.

In [ ]:
# 변수에 정수를 넣고 해당 변수의 type을 알아봅시다.

In [25]:
a = 3
type(a)

int

In [ ]:
# python 3.x에서 long은 없어졌습니다.
# 보통 프로그래밍 언어 및 파이썬 2.x에서의 long은 OS 기준 32/64비트입니다.
# 파이썬 3.x에서는 모두 int로 통합되었다.

In [26]:
a = 2**64
print(a)
type(a)

18446744073709551616

int

In [ ]:
# 파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
# 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형에서 오버플로우가 없다.
# arbitrary-precision arithmetic를 사용하기 때문이다.

In [27]:
import sys

max_int = sys.maxsize
print(max_int)
a = sys.maxsize * sys.maxsize
print(a)

9223372036854775807
85070591730234615847396907784232501249

In [ ]:
# n진수를 만들어보고, 출력 해봅시다.

In [29]:
binary_number = 0b10
octal_number = 0o10
decimal_number = 10
hexadecimal_number = 0x10

print(f'''
2진수: {binary_number}
8진수: {octal_number}
10진수: {decimal_number}
16진수: {hexadecimal_number}
''')

2진수: 2
8진수: 8
10진수: 10
16진수: 16

### `float`(부동소수점, 실수)

실수는 `float`로 표현된다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, 항상 같은 값으로 일치되지 않는다. (floating point rounding error)

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있다.

In [ ]:
# 변수에 실수를 넣고 해당 변수의 type을 알아봅시다.

In [30]:
a = 3.5
type(a)

float

In [ ]:
# e를 사용할 수도 있습니다.

In [32]:
b = 314e-2
type(b)
print(b)

3.14

* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있다.

In [ ]:
# 실수의 덧셈을 해봅시다.

In [33]:
3.5 + 3.2

6.7

In [ ]:
# 실수의 뺄셈을 해봅시다.

In [34]:
3.5 - 3.12

0.3799999999999999

In [ ]:
# 우리가 원하는대로 반올림을 해봅시다.

In [35]:
round(3.5 - 3.12, 2)

0.38

In [ ]:
# 두 개의 값이 같은지 확인해봅시다.

In [37]:
3.5 - 3.12 == 0.38

False

* 따라서 다음과 같은 방법으로 처리 할 수 있다. 이외에 다양한 방법이 있음

In [ ]:
# 기본적인 처리방법을 알아봅시다.

In [38]:
a = 3.5 - 3.12
b = 0.38
abs(a - b) <= 1e-10

True

In [ ]:
# sys 모듈을 통해 처리하는 방법을 알아봅시다.

In [40]:
import sys
abs(a - b) <= sys.float_info.epsilon

True

In [ ]:
# python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.

In [41]:
import math
math.isclose(a, b)

True

### `complex` (복소수)

복소수는 허수부를 `j`로 표현한다.

In [ ]:
# 변수에 복소수를 넣고 해당 변수의 type을 알아봅시다.

In [42]:
a = 3 - 4j
type(a)

complex

In [ ]:
# 복소수와 관련된 메소드들을 확인해봅시다.

In [43]:
print(a.imag) #허수부
print(a.real) #실수부
print(a.conjugate()) #켤레복소수

-4.0
3.0
(3+4j)

## Bool

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있다.

비교/논리 연산을 수행 등에서 활용된다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [ ]:
# True와 False의 타입들을 알아봅시다.

In [44]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

* 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [ ]:
# 다양한 True, False 상황들을 확인해봅시다.

In [45]:
bool(0)

False

In [46]:
bool(1)

True

In [47]:
bool(None)

False

In [48]:
bool([])

False

In [49]:
bool('')

False

In [50]:
bool(['hi'])

True

In [51]:
bool('hi')

True

## None

파이썬에서는 값이 없음을 표현하기 위해 `None`타입이 존재합니다.

In [ ]:
# None의 타입을 알아봅시다.

In [52]:
type(None)

NoneType

In [ ]:
# 변수에 저장해서 확인해봅시다.

In [53]:
a = None
type(a)

NoneType

## 문자형(String)

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능하다. 

* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [ ]:
# 변수에 문자열을 넣고 출력해봅시다.

In [56]:
greetings = 'Hi'
name = 'Marlene'
print(greetings, name)
print(type(name))

Hi Marlene
<class 'str'>

In [ ]:
# 사용자에게 받은 입력은 기본적으로 str입니다

In [57]:
age = input('아무거나 입력하세요: ')
print(age)
print(type(age))

아무거나 입력하세요: 승요니요니승요니
승요니요니승요니
<class 'str'>

* 다만 문자열 안에 문장부호(`'`, `"`)가 활용될 경우 이스케이프 문자(`\`)를 사용하는 것 대신 활용 가능 합니다.

In [ ]:
# 문자열 안에 문장부호를 활용해서 오류를 확인해봅시다.

In [59]:
print('철수가 말했다. '안녕?'')

SyntaxError: EOL while scanning string literal (<ipython-input-59-5aefb1b72f76>, line 1)

In [ ]:
# 오류를 이스케이프 문자와 서로 다른 문장부호를 통해 해결해봅시다.

In [61]:
print('철수가 말했다. "안녕?"')
print('철수가 말했다. \'안녕?\'')

철수가 말했다. "안녕?"
철수가 말했다. '안녕?'

* 여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

`PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있습니다.

In [ ]:
# 여러줄을 출력해봅시다.

In [62]:
print("""
개행문자 없이
여러 줄을 그대로 출력 가능합니다. 밥 먹자!!!
""")

개행문자 없이
여러 줄을 그대로 출력 가능합니다. 밥 먹자!!!

In [ ]:
# 물론 string interpolation(수술)도 가능합니다.

In [63]:
a = True

print(f"""
물론,
string interpolation도 가능합니다.
{a}!
""")

물론,
string interpolation도 가능합니다.
True!

In [64]:
3 * 'hey' + 'yo!'

'heyheyheyyo!'

In [65]:
'Py' 'thon'

'Python'

### 이스케이프 문자열

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분한다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|`\\`|`\`|
|\'|단일인용부호(')|
|\"|이중인용부호(")|

In [ ]:
# 이스케이프 문자열을 조합하여 프린트해봅시다.

In [1]:
print('이 다음은 엔터. \n그리고 탭\t탭')

이 다음은 엔터.
그리고 탭	탭

* 이를 출력할 때 활용할 수가 있다.

In [ ]:
# print를 하는 과정에서도 이스케이프 문자열을 활용 가능합니다.

In [5]:
print('내용을 띄워서 출력하고 싶으면?', end='\t')
print('옆으로 띄어짐')

내용을 띄워서 출력하고 싶으면?	옆으로 띄어짐

In [ ]:
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.

In [ ]:
print('개행 문자 말고도 가능합니다.', end='!')
print('진짜로', end = '!')
print('알고보면 print는 기본이 \\n', end='!')

### String interpolation 

1) `%-formatting` 

2) [`str.format()` ](https://pyformat.info/)

3) [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 버전 이후에 지원 되는 사항입니다.

`.format()`는 해당 [링크](https://pyformat.info/)에서 확인바랍니다.

In [ ]:
# name 변수에 이름을 입력해봅시다.

In [6]:
name = 'Marlene'

In [ ]:
# %-formatting을 활용해봅시다.

In [7]:
'Hello, %s' % name

'Hello, Marlene'

In [ ]:
# str.format()을 활용해봅시다.

In [8]:
'Hello, {}'.format(name)

'Hello, Marlene'

In [ ]:
# f-string을 활용해봅시다.

In [11]:
f'Hello, {name}'

'Hello, Marlene'

* f-strings에서는 형식을 지정할 수 있으며,

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.

In [12]:
import datetime
today = datetime.datetime.now()
print(today)

2019-07-15 14:35:11.469976

* 연산과 출력형식 지정도 가능합니다.

In [ ]:
# string interpolation에서 연산과 숫자 출력형식을 지정해봅시다.

In [13]:
f'오늘은 {today:%y}년 {today:%m}월 {today:%d}일 입니다.'

'오늘은 19년 07월 15일 입니다.'

# 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

In [ ]:
# 2의 1000승을 확인해봅시다.

In [14]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [ ]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.

In [18]:
print(int(5 / 2))
print(5 // 2)
print(5 % 2)

2
2
1

In [ ]:
# divmod는 나눗셈과 관련된 함수입니다.

In [21]:
print(divmod(5, 2))
quotient, remainder = divmod(5, 2)
print(f'몫은 {quotient}, 나머지는 {remainder}')

(2, 1)
몫은 2, 나머지는 1

* 양수/음수도 표현 가능합니다.

In [ ]:
# 음수 양수 표현도 해봅시다.

In [25]:
positive_num = 4
print(-positive_num)
negative_num = -4
print(+negative_num)
print(-negative_num)

-4
-4
4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|a > b|초과|
|a < b|미만|
|a >= b|이상|
|a <= b|이하|
|a == b|같음|
|a != b|같지않음|

In [ ]:
# 숫자의 대소관계를 비교해봅시다.

In [26]:
3 > 6

False

In [ ]:
# 같은 숫자인지 확인해봅시다.

In [29]:
3 != 3

False

In [ ]:
# 다른 숫자인지 확인해봅시다.

In [30]:
3.0 == 3

True

In [ ]:
# 문자열도 같은지 확인해봅시다.

In [31]:
'HI' == 'hi'

False

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자이다.

In [ ]:
# and과 관련해서 모든 case를 출력해봅시다.

In [33]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# or과 관련해서 모든 case를 출력해봅시다.

In [34]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# not을 활용해봅시다.

In [37]:
print(not True)
print(not False)
print(not 0)
print(not 1)
print(not None)

False
True
True
False
True

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴한다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴한다.

In [ ]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.

In [38]:
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [ ]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.

In [39]:
print(5 or 3)
print(3 or 0)
print(0 or 3)
print(0 or 0)

5
3
3
0

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄진다. 

가장 많이 활용되는 경우는 반복문을 통해서 개수를 카운트하거나 할 때 활용된다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [ ]:
# 복합연산자는 이럴 때 사용됩니다.

In [42]:
cnt = 0
while cnt < 5:
    print(cnt)
    cnt += 1

0
1
2
3
4

## 기타 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있다.

### Containment Test

`in` 연산자를 통해 속해있는지 여부를 확인할 수 있다.

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있다. 


(나중에 Class를 배우고 다시 학습)

### Indexing/Slicing
`[]`를 통한 값 접근 및 `[:]`을 통한 슬라이싱 

(다음 챕터를 배우면서 추가 학습)

In [ ]:
# 문자열끼리 더해봅시다.(합쳐봅시다.)

In [43]:
'hi, ' + 'bye!'

'hi, bye!'

In [ ]:
# list끼리 더해봅시다.(합쳐봅시다.)

In [46]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.

In [48]:
'a' in 'apple'
'b' in 'apple'

False

In [ ]:
# list안에 특정한 원소가 있는지 확인해봅시다.

In [49]:
1 in [1, 2, 3]

True

In [ ]:
# range안에 특정한 원소가 있는지 확인해봅시다.

In [51]:
5 in range(5)

False

In [ ]:
# is는 맛만 봅시다.
# 파이썬에서 -5부터 256까지의 id는 동일합니다.

In [52]:
a = 3
b = 3
a is b

True

In [53]:
# id는 다르죠!

In [54]:
a = 257
b = 257
a is b

False

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.

In [55]:
'Hi'[1] = 'j'

TypeError: 'str' object does not support item assignment

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing

2. Indexing

3. 제곱연산자
    \*\*

4. 단항연산자 
    +, - (음수/양수 부호)

5. 산술연산자
    \*, /, %
    
6. 산술연산자
    +, -
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

In [ ]:
# 우선순위를 확인해봅시다.

In [56]:
-3 ** 5

-243

In [57]:
-(3 + 5) / 2 in [2, 4, -4]

True

# 기초 형변환(Type conversion, Typecasting)


파이썬에서 데이터타입은 서로 변환할 수 있다.

## 암시적 형변환(Implicit Type Conversion)
사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우이다.
아래의 상황에서만 가능하다.
* bool
* Numbers (int, float, complex)

In [ ]:
# boolean과 integer는 더할 수 있을까요?

In [59]:
True + 3
False + 4

4

In [ ]:
# int, float, complex를 각각 변수에 대입해봅시다.

In [60]:
int_number = 3
float_number = 5.0
complex_number = 3 + 5j

In [ ]:
# int와 float를 더해봅시다. 그 결과의 type은 무엇일까요?

In [63]:
print(type(int_number + float_number))

<class 'float'>

In [ ]:
# int와 complex를 더해봅시다. 그 결과의 type은 무엇일까요?

In [65]:
print(type(int_number + complex_number))

<class 'complex'>

## 명시적 형변환(Explicit Type Conversion)

위의 상황을 제외하고는 모두 명시적으로 형 변환을 해주어야한다.

* string -> integer  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능하다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list(), tuple()` 등은 다음 챕터에서 배울 예정이다.

In [ ]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.

In [66]:
1 + '등'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
str(1) + '등'

'1등'

In [ ]:
# string 3을 integer로 변환해봅시다.

In [68]:
a = '3'
int(a)

3

In [ ]:
# string 3.5를 float로 변환해봅시다.

In [69]:
a = '3.5'
float(a)

3.5

In [ ]:
# string은 글씨가 숫자일때만 형변환이 가능합니다.

In [70]:
a = 'hi'
int(a)

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
# string 3.5를 int로 변환할 수는 없습니다.

In [71]:
a = '3.5'
int(a)

ValueError: invalid literal for int() with base 10: '3.5'

In [ ]:
# float 3.5는 int로 변환이 가능합니다.

In [72]:
a = 3.5
int(a)

3

# 시퀀스(sequence) 자료형

`시퀀스`는 데이터의 순서대로 나열된 형식을 나타낸다. 

**주의! 순서대로 나열된 것이 정렬되었다라는 뜻은 아니다.**

파이썬에서 기본적인 시퀀스 타입은 다음과 같다.

1. 리스트(list)

2. 튜플(tuple)

3. 레인지(range)

4. 문자열(string)

5. 바이너리(binary) : 따로 다루지는 않습니다.


## `list`

<center><img src="./images/01/list.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 리스트를 만들어봅시다.

In [74]:
l = []
ll = list()
print(type(l))
print(type(ll))

<class 'list'>
<class 'list'>

In [ ]:
# 원소를 포함한 리스트를 만들어봅시다.

In [75]:
location = ['서울', '대전', '구미', '광주']
print(location)
print(location[2])

['서울', '대전', '구미', '광주']
구미

In [ ]:
# 첫번째 값에 접근해봅시다.

In [76]:
print(location[0])

서울

## `tuple`

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하는 것보다는 파이썬 내부에서 사용하고 있습니다.

In [ ]:
# tuple을 만들어봅시다.

In [77]:
tuple_ex = (1, 2)
print(type(tuple_ex))

<class 'tuple'>

In [ ]:
# 아래와 같이 만들 수 있습니다.

In [78]:
is_tuple = 1, 2
print(is_tuple)
print(type(is_tuple))

(1, 2)
<class 'tuple'>

In [79]:
#이렇게도 됩니다.

In [80]:
a = tuple()
type(a)

tuple

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다.
# 앞선 2. 변수 및 자료형 예제에서 사용된 코드입니다.

In [83]:
x, y = 1, 2
print(x)
print(y)

1
2

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [84]:
x, y = (1, 2)
print(x)
print(y)

1
2

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [85]:
x, y = y, x
print(x)
print(y)

2
1

In [86]:
a = (1)  #이건 int
print(type(a))
b = (1,)  #하나의 값을 튜플로 표현하고 싶으면 , 써주기
print(type(b))

<class 'int'>
<class 'tuple'>

##  `range()`

레인지는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.

In [1]:
type(range(2))

range

In [ ]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.

In [3]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# list에 담긴 값을 tuple로도 바꿔봅시다.

In [4]:
tuple(range(7))

(0, 1, 2, 3, 4, 5, 6)

In [ ]:
# 4 ~ 8까지의 숫자를 담은 range를 만들어봅시다.(리스트)

In [5]:
list(range(4, 9))

[4, 5, 6, 7, 8]

In [ ]:
# 0부터 -9까지 담긴 range를 만들어봅시다.

In [10]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x in s	|containment test|
|x not in s|containment test|
|s1 + s2|concatenation|
|s * n|n번만큼 반복하여 더하기
|s[i]|indexing|
|s[i:j]|slicing|
|s[i:j:k]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 갯수|

In [ ]:
# contain test를 확인해봅시다.

In [13]:
s = 'string'
print('a' in s)

l = [1, 2, 3, 4, 1]
print(3 in l)
print(l.count(1))

False
True
2

In [14]:
# concatenation(연결)를 해봅시다.

In [20]:
print('안녕,' + '하세요!')
print([1, 2] + [5, 6])

안녕,하세요!
[1, 2, 5, 6]

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.

In [25]:
l = [1, 2, 3]
ll = l + [0] * 6
print(ll)

[1, 2, 3, 0, 0, 0, 0, 0, 0]

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.

In [26]:
location = ['서울', '대전', '구미', '광주']
print(location[1])

대전

In [ ]:
# 두 번째, 세 번째 값만 가져와봅시다.

In [28]:
location[1:3]

['대전', '구미']

In [ ]:
# 0부터 30까지의 숫자를 3씩 증가시킨 상태로 만들어봅시다.

In [33]:
r = list(range(31))
r[0:31:3]
t = r[0:len(r):3]
print(t)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.

In [34]:
len(t)

11

In [ ]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.

In [36]:
print(min(t)) # 최솟값
print(max(t)) # 최댓값

0
30

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.

In [37]:
l = [1, 2, 1, 3, 1, 5]
l.count(1)

3

# set, dictionary

* `set`과 `dictionary`는 기본적으로 순서가 없습니다.

## `set`

세트는 수학에서의 집합과 동일하게 처리됩니다. 

세트는 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

**활용법**
```python
{value1, value2, value3}
```

|연산자/함수|설명|
|---|---|
|a - b|차집합|
|a \| b|합집합|
|a & b|교집합|
|a.difference(b)|차집합|
|a.union(b)|합집합|
|a.intersection(b)|교집합|

In [ ]:
# 집합 자료형은 set 키워드로 만들 수 있습니다.

In [40]:
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [46]:
# set()의 괄호 안에 리스트, 문자열을 입력하여 집합 자료형을 만들 수 있습니다.

# set(반복가능한객체)

s2 = set('hello')
print(s2)

b = set(range(5))
print(b)

{'e', 'h', 'o', 'l'}
{0, 1, 2, 3, 4}

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [49]:
set_a = {1, 2, 3}
set_b = {3, 6, 9}
print(set_a - set_b) # 차집합
print(set_a | set_b) # 합집합
print(set_a & set_b) # 교집합

{1, 2}
{1, 2, 3, 6, 9}
{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

In [51]:
set_c = {1, 1, 1}
print(set_c)
len(set_c)

{1}

1

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.

In [53]:
list_a = [1, 2, 3, 1, 1, 2]
set_a = set(list_a)
print(set_a)

{1, 2, 3}

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.

In [54]:
list(set(list_a))

[1, 2, 3]

In [55]:
# set과 dict의 비교

In [58]:
# set
set_ex = {1, 2, 3}
print(type(set_ex))

# set
set_ex2 = {1}
print(type(set_ex2))

# dict
dict_ex = {}
print(type(dict_ex))

#dict
dict_ex2 = {'hi': 2}
print(type(dict_ex2))

<class 'set'>
<class 'set'>
<class 'dict'>
<class 'dict'>

## `dictionary`

<center><img src="./images/01/dictionary.png"/></center>

**활용법**
```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* 딕셔너리는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조입니다. 
* `{}`를 통해 만들며, `dict()`로 만들 수도 있습니다.
* `key`는 immutable한 모든 것이 가능하다. (불변값 : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.

In [59]:
dict_a = {}
print(type(dict_a))
dict_b = dict()
print(type(dict_b))

<class 'dict'>
<class 'dict'>

In [60]:
# 지역번호(서울-02 경기-031 인천-032)가 담긴 전화번호부를 만들어봅시다.

In [63]:
phone_book = {'서울': '02', '경기': '031', '인천': '032'}
print(type(phone_book))
print(phone_book)

print(phone_book['서울'])
print(phone_book.get('서울'))

<class 'dict'>
{'서울': '02', '경기': '031', '인천': '032'}
02
02

In [67]:
# []와 .get의 차이 -> 존재하지 않는 key로 value를 꺼낼 경우 KeyError
foods = {'피자': '짱맛', '치킨': '존맛', '라면': '개존맛'}

In [70]:
# .get
foods.get('돈까스')

In [71]:
# []
foods['돈까스']

KeyError: '돈까스'

In [ ]:
# dictionary는 중복된 key는 존재할 수가 없습니다.

In [72]:
dict_a = {1: 1, 2: 2, 3: 3, 1: 4}
print(dict_a)

{1: 4, 2: 2, 3: 3}

In [ ]:
# 딕셔너리의 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [73]:
phone_book.keys()

dict_keys(['서울', '경기', '인천'])

In [ ]:
# 딕셔너리의 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [74]:
phone_book.values()

dict_values(['02', '031', '032'])

In [75]:
dict_samples = {'수학': 82, '국어': 91, '영어': 88, '과학': 97}

In [76]:
#1. dict -> key
for dict_sample in dict_samples:
    print(dict_sample)

수학
국어
영어
과학

In [79]:
#2. dict.keys()
for key in dict_samples.keys():
    print(key)

수학
국어
영어
과학

In [80]:
#3. dict.values()
for value in dict_samples.values():
    print(value)

82
91
88
97

In [81]:
#4. dict.items()
for key, value in dict_samples.items():
    print(key, value)

수학 82
국어 91
영어 88
과학 97

In [2]:
ssafy = {
    "location": ["서울", "대전", "구미", "광주"],
    "language": {
        "python": {
            "python standard library": ["os", "random", "webbrowser"],
            "frameworks": {
                "flask": "micro",
                "django": "full-functioning"
            },
            "data_science": ["numpy", "pandas", "scipy", "sklearn"],
            "scraping": ["requests", "bs4"],
        },
        "web" : ["HTML", "CSS"]
    },
    "classes": {
        "gm":  {
            "lecturer": "justin",
            "manager": "pro-gm",
            "class president": "고승연",
            "groups": {
                "A": ["강민구", "고승연", "권대민", "김가영", "김도훈"],
                "B": ["김정덕", "김평강", "남수경", "류재헌", "박교열"],
                "C": ["박찬환", "배태한", "백서현", "변인욱", "서혜영"],
                "D": ["소재완", "유일규", "윤명훈", "이은수", "이지훈"],
                "E": ["이현우", "임현수", "정성훈", "평준혁", "하승진"]
            }
        },
        "gj": {
            "lecturer": "change",
            "manager": "pro-gj"
        }
    }
}

In [107]:
# from pprint import pprint  # pretty print의 줄임말

# pprint(ssafy)

In [84]:
"""
난이도* 1. 지역(location)은 몇개 있나요? : list length
출력예시)
4
"""
city = ssafy.get('location')
print(len(city))

4

In [108]:
"""
난이도** 2. python standard library에 'requests'가 있나요? : 접근 및 list in
출력예시)
False
"""
standard = ssafy.get('language').get('python').get('python standard library')
print('requests' in standard)

False

In [109]:
"""
난이도** 3. gm반의 반장의 이름을 출력하세요. : depth 있는 접근
출력예시)
고승연
"""
president = ssafy.get('classes').get('gm').get('class president')
print(president)

고승연

In [94]:
"""
난이도*** 4. ssafy에서 배우는 언어들을 출력하세요. : dictionary.keys() 반복
출력 예시)
python
web
"""
lang = ssafy.get('language')
for langs in lang.keys():
    print(langs)

python
web

In [95]:
"""
난이도*** 5 ssafy gj반의 강사와 매니저의 이름을 출력하세요. dictionary.values() 반복
출력 예시)
change
pro-gj
"""
tutor = ssafy.get('classes').get('gj')
for tutors in tutor.values():
    print(tutors)

change
pro-gj

In [4]:
"""
난이도***** 6. frameworks들의 이름과 설명을 다음과 같이 출력하세요. : dictionary 반복 및 string interpolation
출력 예시)
flask는 micro이다.
django는 full-functioning이다.
"""
# 방법 1
fw = ssafy.get('language').get('python').get('frameworks')

for key, value in fw.items():
    print(f'{key}는 {value}이다.')


# 방법 2
frameworks = ssafy.get('language').get('python').get('frameworks')

for name in frameworks:
    print(f'{name}은 {frameworks[name]}이다.')

flask는 micro이다.
django는 full-functioning이다.
flask은 micro이다.
django은 full-functioning이다.

In [7]:
"""
난이도***** 7. 오늘 당번을 뽑기 위해 groups의 E 그룹에서 한명을 랜덤으로 뽑아주세요. : depth 있는 접근 + list 가지고 와서 random.
출력예시)
오늘의 당번은 하승진
"""
import random

today = ssafy.get('classes').get('gm').get('groups').get('E')
name = random.choice(today)
print(f'오늘의 당번은 {name}')

오늘의 당번은 하승진

# 정리
## 데이터 타입
<center><img src="./images/01/container.png", alt="container"/></center>