# 1. 문자열 메소드 활용하기

## 1.1 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [6]:
print(words.capitalize())
print(words.title())
print(words.upper())

result = words.upper()
print(result)

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [9]:
print(words.lower())
print(words.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

Iterable이란 for문 안에 넣고 돌릴 수 있는!

In [ ]:
# 아래에 코드를 작성하세요.

In [10]:
'!'.join('배고파')

'배!고!파'

In [ ]:
# 이렇게도 사용할 수 있겠죠?

In [15]:
words = ['hi', 'hello']
'!'.join(words)

words = '1, 2, 3, 4, 5, 6, 7, 8, 9'
words = words.split(',') # split의 역할은 ()안을 기준으로 쪼개서 리스트로 만들어줌
words
words = ':'.join(words)
words

'1: 2: 3: 4: 5: 6: 7: 8: 9'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [18]:
a = '나는 너를 사랑해'
result = a.replace('너', '나')
print(result)
'abcdefggg'.replace('ggg', 'ghi')

나는 나를 사랑해

'abcdefghi'

In [22]:
'wooooowoo'.replace('o', '', 2)
'Hi! Jusstin'.replace('s', '')

'Hi! Jutin'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [23]:
'     oh!\n     '.strip()

'oh!'

In [25]:
'     oh!\n     '.lstrip()

'oh!\n     '

In [26]:
'     oh!\n     '.rstrip()

'     oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [31]:
'hihihihihihihiheheihihihihihihihihi'.strip('hi')

'ehe'

In [32]:
'hihihihihihihiheheihihihihihihihihi'.lstrip('hi')

'eheihihihihihihihihi'

In [33]:
'hihihihihihihiheheihihihihihihihihi'.rstrip('hi')

'hihihihihihihihehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [34]:
'apple'.find('l')

3

In [35]:
'apple'.find('f') # 해당하는 글자가 없으니 -1 반환

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [36]:
'apple'.index('l')

3

In [37]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 **리스트**로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)를 기준으로 문자열을 나눠 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [38]:
'abc def'.split()

['abc', 'def']

In [39]:
'Hello SSAFY'.split() # split 기준을 아무것도 주지 않으면 공백을 기준으로 나눠서 리스트로.

['Hello', 'SSAFY']

In [40]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [43]:
words = input().split()
print(words)

오늘의 점심은 장각삼계탕 삼계탕 회냉면
['오늘의', '점심은', '장각삼계탕', '삼계탕', '회냉면']

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [47]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
a = '혜영이를사랑한승연외로운승연이의홀로사랑'
b = '승진이는 모해?'

print(a.isalpha())  # 글자가 다 붙어 있어야 글자로 인식
print(b.isalpha())  # 공백이나 특수문자가 있으면 글자로 인식하지 X

True
False

In [53]:
a = 'Hi!, My name is Marlene!'
a.islower() # is는 판단하는것. True/False로 나옴 소문자니? 놉!

b = 'hi!, my name is marlene'
b.islower()

True

In [54]:
a = 'Hi, My name is Marlene'
print(a.isupper())

b = 'HI!, MY NAME IS MARLENE'
print(b.isupper())

False
True

In [57]:
a = 'Hello, World'
print(a.istitle())
b = 'Hello, world'
print(b.title())
print(b.istitle())

True
Hello, World
False

# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [58]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [60]:
caffe.append('caffebene')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene']

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [71]:
caffe[len(caffe):] = ['ediya']
print(caffe[len(caffe):])
print(caffe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya']

### `.extend(iterable)`

- 리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [72]:
caffe.extend(['droptop', '빽다방'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [73]:
caffe += ['mccafe', 'burgerking']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [76]:
# .append vs .extend

#.append
caffe.append(['coffenie']) # 또 하나의 리스트가 들어감
print(caffe)

#.extend
caffe.extend(['coffeingurunaru']) # 리스트의 요소로 들어감
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [ ]:
L = [1, 2, 3]

L = L + [4]   # 이건 4라는 요소를 더 넣은 새로운 리스트를 만드는 것

L.append(4)  # 이건 기존 리스트 L에 추가하는 것

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [77]:
caffe.insert(0, 'hi')
print(caffe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [79]:
caffe.insert(len(caffe), 'bye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [81]:
caffe.insert(len(caffe)+4, '!!!!!')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', 'bye', '!!!!!', '!!!!!']

In [83]:
samples = [1, 2, 3, 4, 5]

samples.insert(5, 7)
print(samples)

[1, 2, 3, 4, 5, 7]

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [84]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [85]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [86]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [87]:
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [88]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [92]:
print(numbers.pop(0))
print(numbers)
print(numbers.pop())
print(numbers)

4
[5]
5
[]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [94]:
numbers = [1, 2, 3]
delete_value = numbers.pop()
print(f'{delete_value}(이)가 삭제되어 {numbers}가 되었습니다.')

3(이)가 삭제되어 [1, 2]가 되었습니다.

## 2.2 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [96]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [97]:
numbers.index(3)

2

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [98]:
numbers.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [99]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [100]:
numbers.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [101]:
numbers = [1, 2, 1, 3, 4]
target_number = 1

for i in range(numbers.count(target_number)):
    numbers.remove(target_number)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [104]:
print(target_number in numbers)
print(numbers)

False
[2, 3, 4]

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [105]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[37, 36, 35, 22, 15, 27]

In [ ]:
# sort를 사용해봅시다.

In [109]:
lotto_result = lotto.sort()   # 원본을 바꾸기때문에 None이 출력됨
print(lotto_result)   # return 값
print(lotto)   # 원본


lotto.sort(reverse=True)
print(lotto)

None
[15, 22, 27, 35, 36, 37]
[37, 36, 35, 27, 22, 15]

In [ ]:
# sorted를 사용해봅시다.

In [108]:
numbers = [2, 5, 4, 1, 7, 5]

result = sorted(numbers)  # sorted는 원본을 바꾸지 X
print(result)
print(numbers)

[1, 2, 4, 5, 5, 7]
[2, 5, 4, 1, 7, 5]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [110]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [111]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

In [131]:
# .reverse() -> 원본을 바꾼다!!! >> None 출력 (sort와 동일)
numbers = [1, 2, 3]
result = numbers.reverse()
print(numbers)
print(result)

# .reversed()
numbers = [1, 2, 3]
result = reversed(numbers)
print(list(result))
print(numbers)

[3, 2, 1]
None
[3, 2, 1]
[1, 2, 3]

In [132]:
# slicing 실습

words = ['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's']
words[0:2]

['T', 'h']

In [133]:
words[0:4]

['T', 'h', 'e', '']

In [134]:
words[0:11]

['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r']

In [135]:
words[-8:-1]

['A', 'v', 'e', 'n', 'g', 'e', 'r']

In [136]:
words[-12:-9]

['T', 'h', 'e']

## 2.3 복사

In [138]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [139]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [140]:
copied_list[0] = 5
print(copied_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [141]:
print(id(copied_list) == id(original_list))
print(copied_list is original_list)

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [142]:
a = 20005
b = a
b = 30005

print(a)
print(b)

20005
30005

In [ ]:
# 문자를 확인해봅시다.

In [143]:
word_a = 'hihi'
word_b = word_a
word_b = 'byebye'

print(word_a)
print(word_b)

hihi
byebye

In [ ]:
# 딕셔너리도 확인해봅시다.

In [144]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치김밥'

print(lunch)
print(dinner)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

(변경가능한 경우는 같은 곳을 바라보고 있음 >> 수정하면 같이 바뀜)

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 아래에 작성하세요.

In [ ]:
# 리스트를 복사해봅시다.

In [145]:
a = [1, 2, 3]

b = a
b[0] = 5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [146]:
a = [1, 2, 3]

b = a[:] # 슬라이싱은 잘라서 새로운 리스트를 만들어줌 >> 서로 상관없는 보기에만 같은, But 다른 리스트
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [147]:
a = [1, 2, 3]
b = list(a)  # list() 함수를 통해 새로운 값들을 return 한 것.
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 이런 방법도 있어요

In [148]:
a = [1, 2, 3]
b = a.copy()
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [149]:
a = [1, 2, [1, 2]]
b = a[:]  # 얕은 카피라는게 이렇게 한 층 더 들어갈 때는 X
b[2][0] = 3

print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [151]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a) # 이제 깊은 복사를 했기 때문에 저 깊은 곳까지 다 제대로 복사한 것.

b[2][0] = 3

print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# 3. List Comprehension

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [153]:
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i ** 3)
    
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [155]:
numbers = range(1, 11)

cubic_list = [number**3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [156]:
numbers = range(1, 11)

In [158]:
# 기존의방법
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10]

In [160]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [161]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [170]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
        
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [172]:
# List comprehension을 활용하여 만들어주세요.
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [178]:
answer = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                answer.append((x, y, z))
                
print(answer)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [179]:
answer = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2]
print(answer)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [200]:
# List comprehension을 활용하여 만들어주세요.
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
words = 'Life is too short, you need python!'

result = [i for i in words if i not in vowels]
print(''.join(result))

# result = ['' for i in words if i in vowels else i]

SyntaxError: invalid syntax (<ipython-input-200-1208ab9a11e8>, line 8)

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [202]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [203]:
result = my_dict.pop('apple')

print(result)
print(my_dict)

사과
{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [204]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [205]:
my_dict.pop('melon', 0)

0

### `.update()`

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [206]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [207]:
my_dict.update(apple='사과아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [208]:
my_dict.update(peach='복숭아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'peach': '복숭아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [210]:
my_dict['pineapple']

KeyError: 'pineapple'

In [ ]:
# get을 사용해봅시다.

In [215]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', '파인애플은 없어 이 멍청아'))

None
사과아
파인애플은 없어 이 멍청아

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [217]:
x = x*2 - 1
c = (a+b) * (a-b)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
# dictionary comprehension

In [216]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### dictionary comprehension 사용해보기

In [1]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [226]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
dirty = {x: y for x, y in dusts.items() if y > 80}
print(dirty)

{'대전': 82, '중국': 200}

In [240]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
dirty = {x: '나쁨' if y > 80 else '보통' for x, y in dusts.items()}
print(dirty)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [3]:
translate = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items() }
print(translate)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [4]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [5]:
fruits.add('포도')
print(fruits)

{'수박', '바나나', '사과', '포도'}

In [7]:
fruits.add('포도')
print(fruits)

{'수박', '바나나', '사과', '포도'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다. (문자열도 iterable. but 한 글자씩 떨어져서 들어감)

In [8]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [10]:
fruits.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
print(fruits)

{'포도', '바나나', '토마토', '딸기', '레몬', '수박', '사과'}

In [ ]:
# 만약에 이렇게 한다면..

In [11]:
fruits.update('복숭아', '두리안')  # 문자열도 iterable
print(fruits)

{'포도', '바나나', '토마토', '딸기', '레몬', '안', '두', '리', '수박', '숭', '아', '사과', '복'}

In [ ]:
# 하지만 이건 오류가 납니다!

In [12]:
fruits.update(123)
print(fruits)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [13]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [14]:
fruits.remove('사과')
print(fruits)

{'수박', '바나나'}

In [15]:
fruits.remove('애플')

KeyError: '애플'

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [16]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [18]:
fruits.discard('포도')
print(fruits)

{'수박', '바나나', '사과'}

In [19]:
fruits.discard('수박')
print(fruits)

{'바나나', '사과'}

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [20]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}

In [21]:
result = fruits.pop()
print(result)
print(fruits)

수박
{'바나나', '사과', '아보카도'}

##  `.map()`, `.zip()`, `.filter()`

### `.map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [22]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [24]:
chars = map(str, numbers)
print(chars)

<map object at 0x000002022FB32548>

In [25]:
word = ''.join(chars)
print(word)
print(type(word))

123
<class 'str'>

In [ ]:
# list comprehension

In [26]:
word = ''.join([str(number) for number in numbers])
print(word)
print(type(word))

123
<class 'str'>

In [27]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [30]:
num = list(map(int, chars))
# int('1'), int('2'), int('3')
print(num)

[1, 2, 3]

In [ ]:
# list comprehension

In [32]:
nums = [int(char) for char in chars]
print(nums)

[1, 2, 3]

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [33]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [34]:
numbers = [1, 2, 3]
list(map(cube, numbers))

[1, 8, 27]

### `.zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [35]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [38]:
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [36]:
matching = {girl: boy for girl in girls for boy in boys}
print(matching)   # key는 중복될 수 없기 때문

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [41]:
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [42]:
justin = '123'
zzulu = '567'

for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 길이가 다르면 가장 짧은 것을 기준으로 구성한다.

In [43]:
num1 = [1, 2, 3]
num2 = ['1', '2']

list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [45]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `.filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [46]:
def even(n):
    if n%2 == 0:
        return n

In [ ]:
# filter를 사용해봅시다.

In [52]:
numbers = [1, 2, 3, 4, 5, 2, 2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [51]:
result = {number for number in numbers if even(number)}
print(result)

{2, 4}